# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# MovieApp project
/lib/core/app_utility/
/lib/core/network/endpoints.dart
/lib/core/navigation/
/lib/core/theme/
/lib/features/board_feature/
/lib/features/online_status_feature/
/lib/features/change_theme_feature/
/test/features/manage_movie_feature/infrastructure/data_source/local_data_source/local_data_source_impl_test.dart
/test/fixture/movie_table_data_fixture.dart
/lib/env/env.g.dart